extends layout
append head
  link(rel='stylesheet', href='stylesheets/main.css')
block content
    .container
      h1 JCE TADS API
      |         
      p.sw-info
        | Base URL: 
        span.sw-info-basePath /JCE/TADS/1.0.0
        | , Version: 
        span.sw-info-version 1.0.0
      |         
      p
      |         
      p This is the JCE TADS WEbApplication API used to interact with the TADS database.
      |         
      p
      |         
      #sw-schemes.sw-default-value
        span.sw-default-value-header Schemes:
        |  https
      |         
      h2#swagger--summary-tags Summary
      |         
      h3#tag-Personnel.swagger-summary-tag Tag: Personnel
      |         
      p Provides Access to Personnel Data
      |         
      table.table.table-bordered.table-condensed.swagger--summary
        thead
          tr
            th Operation
            |                     
            th Description
        |             
        tbody
          tr
            td
              a(href='#operation--personnel-get') GET /personnel
            |                     
            td
              p Returns an Array containing all Person records
          |                 
          tr
            td
              a(href='#operation--personnel--id--get') GET /personnel/{id}
            |                     
            td
              p Returns a single person matching the pid
      |         
      h3#tag-Tags.swagger-summary-tag Tag: Tags
      |         
      p Provides operations on JCE Tags
      |         
      table.table.table-bordered.table-condensed.swagger--summary
        thead
          tr
            th Operation
            |                     
            th Description
        |             
        tbody
          tr
            td
              a(href='#operation--Associate-post') POST /Associate
            |                     
            td
              p Associates a given tag with a given person
          |                 
          tr
            td
              a(href='#operation--Unassociate-post') POST /Unassociate
            |                     
            td
              p Unassociates a given tag with a given person
      |         
      h2 Paths
      |  
      span#path--Associate
      |         
      #operation--Associate-post.swagger--panel-operation-post.panel
        .panel-heading
          .operation-summary Associates a given tag with a given person
          |                 
          h3.panel-title
            span.operation-name POST
            |  
            strong /Associate
          |  Tags:
          |                 
          a(href='#tag-Tags') Tags
        |             
        .panel-body
          section.sw-operation-description
            p Associates the provided MAC Address with the provided JCE_PID
          |                 
          section.sw-responses
            dl
              dt.sw-response-201 201 Created
              |                         
              dd.sw-response-201
                .row
                  .col-md-12
                    p POST to Associate Successful!
                |                             
                .row
                  .col-md-6.sw-response-model
              |  
              dt.sw-response-400 400 Bad Request
              |                         
              dd.sw-response-400
                .row
                  .col-md-12
                    p Content-type header was not set to JSON
                |                             
                .row
                  .col-md-6.sw-response-model
              |  
              dt.sw-response-500 500 Internal Server Error
              |                         
              dd.sw-response-500
                .row
                  .col-md-12
                    p Generic SQL Error
                |                             
                .row
                  .col-md-6.sw-response-model
      |  
      span#path--personnel
      |         
      #operation--personnel-get.swagger--panel-operation-get.panel
        .panel-heading
          .operation-summary Returns an Array containing all Person records
          |                 
          h3.panel-title
            span.operation-name GET
            |  
            strong /personnel
          |  Tags:
          |                 
          a(href='#tag-Personnel') Personnel
        |             
        .panel-body
          section.sw-operation-description
            p Returns all records from the TADS Personnel Table
          |                 
          section.sw-responses
            p
              span.label.label-default application/json
            |                     
            dl
              dt.sw-response-200 200 OK
              |                         
              dd.sw-response-200
                .row
                  .col-md-12
                    p results matching criteria
                |                             
                .row
                  .col-md-6.sw-response-model
                    .panel.panel-definition
                      .panel-body
                        section.json-schema-array-items
                          span.json-property-type
                            a.json-schema-ref(href='#/definitions/Person') Person
                          |  
                          span.json-property-range(title='Value limits')
                          |                                                 
                          .json-inner-schema
              |  
              dt.sw-response-500 500 Internal Server Error
              |                         
              dd.sw-response-500
                .row
                  .col-md-12
                    p Generic SQL Error
                |                             
                .row
                  .col-md-6.sw-response-model
      |  
      span#path--personnel--id-
      |         
      #operation--personnel--id--get.swagger--panel-operation-get.panel
        .panel-heading
          .operation-summary Returns a single person matching the pid
          |                 
          h3.panel-title
            span.operation-name GET
            |  
            strong /personnel/{id}
          |  Tags:
          |                 
          a(href='#tag-Personnel') Personnel
        |             
        .panel-body
          section.sw-operation-description
            p Returns a single person record who&apos;s JCE_PID matches the parameter
          |                 
          section.sw-request-params
            table.table
              thead
                tr
                  th.sw-param-name
                  |                                 
                  th.sw-param-description
                  |                                 
                  th.sw-param-type
                  |                                 
                  th.sw-param-data-type
                  |                                 
                  th.sw-param-annotation
              |                         
              tbody
                tr
                  td id
                  |                                 
                  td
                    p ID of person to fetch
                  |                                 
                  td path
                  |                                 
                  td
                    span.json-property-type integer
                    |  
                    span.json-property-format (int64)
                    |  
                    span.json-property-range(title='Value limits')
                  |                                 
                  td
                    span.json-property-required
          |                 
          section.sw-responses
            p
              span.label.label-default application/json
            |                     
            dl
              dt.sw-response-200 200 OK
              |                         
              dd.sw-response-200
                .row
                  .col-md-12
                    p results matching criteria
                |                             
                .row
                  .col-md-6.sw-response-model
                    .panel.panel-definition
                      .panel-body
                        a.json-schema-ref(href='#/definitions/Person') Person
              |  
              dt.sw-response-500 500 Internal Server Error
              |                         
              dd.sw-response-500
                .row
                  .col-md-12
                    p Generic SQL Error
                |                             
                .row
                  .col-md-6.sw-response-model
      |  
      span#path--Unassociate
      |         
      #operation--Unassociate-post.swagger--panel-operation-post.panel
        .panel-heading
          .operation-summary Unassociates a given tag with a given person
          |                 
          h3.panel-title
            span.operation-name POST
            |  
            strong /Unassociate
          |  Tags:
          |                 
          a(href='#tag-Tags') Tags
        |             
        .panel-body
          section.sw-operation-description
            p Unassociates the provided MAC Address
          |                 
          section.sw-responses
            dl
              dt.sw-response-201 201 Created
              |                         
              dd.sw-response-201
                .row
                  .col-md-12
                    p POST to Associate Successful!
                |                             
                .row
                  .col-md-6.sw-response-model
              |  
              dt.sw-response-400 400 Bad Request
              |                         
              dd.sw-response-400
                .row
                  .col-md-12
                    p Content-type header was not set to JSON
                |                             
                .row
                  .col-md-6.sw-response-model
              |  
              dt.sw-response-500 500 Internal Server Error
              |                         
              dd.sw-response-500
                .row
                  .col-md-12
                    p Generic SQL Error
                |                             
                .row
                  .col-md-6.sw-response-model
      |         
      h2 Schema definitions
      |         
      #definition-Person.panel.panel-definition
        .panel-heading
          h3.panel-title
            a(name='/definitions/Person')
            | Person:
            |                     
            span.json-property-type
              span.json-property-type object
              |  
              span.json-property-range(title='Value limits')
        |             
        .panel-body
          section.json-schema-description
            p
              | NULL Values will never return from the API. If a field is missing from the JSON object, it&apos;s value was NULL
          |                 
          section.json-schema-properties
            dl
              dt(data-property-name='JCE_PID')
                span.json-property-name JCE_PID:
                |                                                     
                |                                                     
                span.json-property-type integer
                |     
                span.json-property-format (Int64)
                |                                                     
                span.json-property-range(title='Value limits')
                |                                                     
                |                                                         
                span.json-property-required
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='PersonnelRole')
                span.json-property-name PersonnelRole:
                |                                                     
                |                                                     
                span.json-property-type string
                |     
                span.json-property-enum(title='Possible values')
                  | , x &amp;in; {
                  span.json-property-enum-item Client
                  |                                                                 ,
                  |                                                                     
                  span.json-property-enum-item Craft
                  |                                                                 ,
                  |                                                                     
                  span.json-property-enum-item Staff
                  |                                                                 ,
                  |                                                                     
                  span.json-property-enum-item Sub
                  |                                                                 ,
                  |                                                                     
                  span.json-property-enum-item Visitor
                  |                                                             }
                |                                                     
                span.json-property-range(title='Value limits')
                |                                                     
                |                                                         
                span.json-property-required
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='FirstName')
                span.json-property-name FirstName:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
                |                                                     
                |                                                         
                span.json-property-required
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='LastName')
                span.json-property-name LastName:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
                |                                                     
                |                                                         
                span.json-property-required
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='MiddleName')
                span.json-property-name MiddleName:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='Suffix')
                span.json-property-name Suffix:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='HireDate')
                span.json-property-name HireDate:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='LocalJacobsBadgeID')
                span.json-property-name LocalJacobsBadgeID:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='CRCode_FunctionCode')
                span.json-property-name CRCode_FunctionCode:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='EmployeeNumber')
                span.json-property-name EmployeeNumber:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='OraclePartyID')
                span.json-property-name OraclePartyID:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='HRJobTitle')
                span.json-property-name HRJobTitle:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='LocalJobTitle')
                span.json-property-name LocalJobTitle:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p NULL very often in the database
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='Department')
                span.json-property-name Department:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p Four digit number followed by a string
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='Shift')
                span.json-property-name Shift:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p Shift may somteims be a single number
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='Skill')
                span.json-property-name Skill:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p This field is sometimes NULL
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='Class')
                span.json-property-name Class:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p More granular that skill, may help differenciate pay scale
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='CrewCode')
                span.json-property-name CrewCode:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='Status')
                span.json-property-name Status:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p
                  | Denotes whether or not the record is an active site employee. &quot;Y&quot; can be interpreted as &quot;Active&quot;
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='JacobsStartDate')
                span.json-property-name JacobsStartDate:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p Date hired on by Jacobs
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='LocationStartDate')
                span.json-property-name LocationStartDate:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p
                  | Date assigned to location/site. In some cases this date is earlier than JacobsStartDate
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='LocationTermDate')
                span.json-property-name LocationTermDate:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p
                  | Date terminated from site, value should be NULL unless the person is no longer active
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='DateLastChange')
                span.json-property-name DateLastChange:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                p Last time this person&apos;s record was modified within FTS
                |                             
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
              |  
              dt(data-property-name='Company')
                span.json-property-name Company:
                |                                                     
                |                                                     
                span.json-property-type string
                |                                                     
                span.json-property-range(title='Value limits')
              |                         
              dd
                .json-inner-schema
                  section.json-schema-example
                    pre.
                      
    |     
    script(src='/js/bundle.js', type='application/javascript')
