mixin worksheet
  append head
    script(type='text/javascript', src='https://public.tableau.com/javascripts/api/tableau-2.min.js')
    script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
    script(type='text/javascript').
      function initializeViz() {
      var placeholderDiv = document.getElementById("tableauViz");
      var url = "http://10.21.200.10/views/LastKnownLocation/CurrentLocationSiteMap?:embed=y&:showAppBanner=false&:showShareOptions=true&:display_count=no&:showVizHome=no";
      var options = {
      width: 1200,
      height: 900,
      hideTabs: true,
      hideToolbar: false,
      onFirstInteractive: function () {
      workbook = viz.getWorkbook();
      activeSheet = workbook.getActiveSheet();
      }
      };
      viz = new tableauSoftware.Viz(placeholderDiv, url, options);
      }
      $(initializeViz);
    script(type='text/javascript').
      function RefreshViz(){
      //alert("test");
      viz.refreshDataAsync();
      }
      if (document.addEventListener) {
      window.addEventListener("load", RefreshViz, false);
      } else if (document.attachEvent) {
      window.attachEvent("onload", RefreshViz);
      }
      setInterval(RefreshViz, 30000);
  append content
    #tableauViz
